:root {
    --yellow: #eef13f;
    --orange: #fe6638;
    --green: #80b238;
    --blue: #80c1d6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--blue);
    color: #fff;
    font-family: Atma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

h1,
h2 {
    margin-top: 0;
}

h1,
h2,
h1+p,
button {
    font-family: Bangers, sans-serif;
    letter-spacing: 2px;
}

@media (min-width: 640px) {}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: var(--green);
    padding: 1rem
}

a {
    text-decoration: none;
    color: white;
}

main,
header,
#obstacles,
#prizes,
#apply,
.wrap,
.grid,
.prizes-group,
form,
article {
    display: flex;
}

main,
header,
#obstacles,
#prizes,
#apply,
.wrap {
    flex-direction: column;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: url(/img/blue-splash.png);
    background-attachment: fixed;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;
}

header>h1,
p {
    margin: auto;
}

#obstacles,
#prizes,
#apply,
.wrap,
.grid {
    text-align: center;
}

.wrap {
    justify-content: space-between;
    align-items: center;
}

.grid {
    justify-content: space-around;
    min-width: 100%;
}

.obstacles-group>article,
.prizes-group>article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prizes,
.obstacles-group article {
    background: var(--green);
}

.obstacles-group>article {
    margin: 0.7rem;
    padding: 3rem;
    border-radius: 30px;
}

#obstacles {
    background: var(--orange);
}

.prizes-group>article {
    border: dotted yellow 5px;
    padding: 3rem;
    margin: 0.7rem;
}

form {
    flex-direction: column;
    margin-bottom: 1rem;
}

label,
input {
    display: flex;
    flex-direction: column;
}

input {
    background-color: var(--orange);
    color: white;
    border-radius: 6px;
    border: 0;
    padding: 0.75rem;
}

button {
    background-color: var(--yellow);
    border-radius: 6px;
    border: 0;
    padding: 1rem 0.75rem;
    margin-top: 0.75rem;
    text-shadow: 2px 2px 0 #aaa;
}

footer {
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--yellow);
    color: black;
}